* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-one {
    background: rgb(103,86,190);
    background: linear-gradient(90deg, rgba(103,86,190,1) 0%, rgba(87,34,205,1) 59%, rgba(72,47,175,1) 100%);
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: "Roboto", sans-serif;
    padding-right: 30px;
    padding-top: 25px;
    flex-grow: 1;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
}


.block-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 60px;
    font-weight: lighter;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 30px;
}

button {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    background-color: #ED4385;
    border: transparent;
    color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 10px darkslategrey;
}

/* recheck button shadow after changing gradient of section 1*/

.divider-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

/*
All colors used throughout the text
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */